/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');  */

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(104, 104, 228);
}

/* ---------- Nav bar */
nav h1.logo {
  color: white;
}

nav {
  width: 100%;
}

nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(83, 83, 230);
}

.nav-wrapper > *:first-child {
   margin-left: 5%;
} 

.nav-wrapper > *:last-child {
  margin-right: 5%;
}

.nav-wrapper > h1, ul {
  margin: 0 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
font-weight: bold;
text-decoration: none;
color: white;
}

/* ----------- Header section */

header {
  width: 100%;
  background-color: rgb(66, 66, 228);
}

header .header-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section img {
  max-width: 400px;
  min-width: 250px;
}

.text-section {
  text-align: center;
  margin-left: 2vw;
  margin-top: 2vw;
  color: white;
  max-width: 50rem;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.text-section h1 {
  line-height: 2.75rem;
  margin-bottom: 20px;
  font-size: 3rem;
}


/* ------------ MAIN */

main .main-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-card {
  flex: 1;
  text-align: center;
  color: white;
  border-radius: 15px;
  margin: 0px 10px;
  /* width: 350px; */
  /* height: 150px; */
  background-color: rgb(66, 66, 228);
  padding: 10px 20px;
}

.main-card p {
  font-size: 1rem;
}













@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
  }


  main .main-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* main .main-card {
    flex: 0;
    width: 80%;
  } */
}

